.main {
    background-color: #FCFCFC;
    min-height: 600px;
}

.icon{
    padding: 1rem;
}

.sidebarLabel{
    font-size: 1rem;
    cursor: pointer;
}

.content {
    position: relative;
    height: 85%;
    top: 10px;
    background: #FFFFFF;
    border-radius: 40px;
}

