.sectionInicio {
    max-height: max(560px, 70vh);
    padding:2rem;
    background-color: var(--background-color);
}

.headerBackground {
    background-color: var(--background-color);
}

.login {
    color: #34a853;
}
